<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/public/css/deleteItem.css">
    <title>Document</title>
</head>
<body> 
    <div class="title">
        <p>BL Inventory Manager</p>
        <ul>
            <li><a href="/viewItems">View All Items</a></li>  
            <li><a href="/warehouses">View All Warehouses</a></li>
            <li><a href="/addItem">Add Item</a></li> 
            <li><a href="/addNewWarehouse">Add Warehouses</a></li> 
            <li>About</li>
        </ul>
    </div>  
    <div class="ItemInfoCon">  
        <div class="ItemInfoPage"> 
            <table> 
                <col>
                <colgroup span="2"></colgroup>
                <tr>
                    <th colspan="2" scope="colgroup">Item Information</th> 
                </tr> 
                <tr>
                    <td>Item Name</td>
                    <td><%= InventoryItem['itemName'] %></td>
                </tr>
                <tr>
                    <td>Item Description</td>
                    <td><%= InventoryItem['itemDescription'] %></td>
                </tr> 
                <tr>
                    <td>Quantity</td>
                    <td><%= InventoryItem['quantity'] %></td>
                </tr> 
                <tr>
                    <td>Date</td> 
                    <td><%= InventoryItem['currentDate'] %></td>
                </tr>
            </table>
            <form method='GET' action="/deleteItem/<%= InventoryItem['_id'] %>"> 
                <input type='submit' value='Delete Item'/>
            </form>
        </div>
    </div>
</body>
</html>

