<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/editItem.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <p>BL Inventory Manager</p>
        <ul>
            <li><a href="/viewItems">View All Items</a></li>  
            <li><a href="/warehouses">View All Warehouses</a></li>
            <li><a href="/addItem">Add Item</a></li> 
            <li><a href="/addNewWarehouse">Add Warehouses</a></li> 
            <li>About</li>
        </ul>
    </div> 
    <div class="formCon"> 
    <form method="POST" action="/editItem/<%= InventoryItem['_id'] %>">   
        <p class="formHeader">Edit Item</p>
        <label>Item Name</label>
        <input type="text" name="itemName" id='itemName'/>
        <label>Description</label>
        <input type="text" name="itemDescription" id='itemDescription'/>
        <label>Quanity</label>
        <input type="number" min="1" name='quanity' id='quantity'/>
        <label>Warehouse</label> 
        <select name="warehouseAssigned" id="warehouseAssigned"> 
            <option>Choose Warhouse</option>
                    <% WarehousesList.forEach((item) => { %>
                        <option><%= item['location'] %></option>
                    <% }) %>
        </select> 
        <input type="submit" class="submit" value="Edit Item"/>
    </form> 
    <div>
</body> 
    <script>
        document.getElementById('itemName').value = '<%= InventoryItem['itemName'] %>' 
        document.getElementById('itemDescription').value = '<%= InventoryItem['itemDescription'] %>' 
        document.getElementById('quantity').value = '<%= InventoryItem['quantity'] %>'  
        document.getElementById('warehouseAssigned').value = '<%= InventoryItem['warehouseAssigned'] %>'   

        // come back to this area and add a filter for times that are not edited. 
    </script>
</html> 