<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" type="text/css" href="/public/css/items.css">
    <title>Inventory List</title>
</head>
<body>   
    <div class="title">
        <p>BL Inventory Manager</p>
        <ul>
            <li><a href="/viewItems" class="currentPage">View All Items</a></li>  
            <li><a href="/warehouses">View All Warehouses</a></li>
            <li><a href="/addItem">Add Item</a></li> 
            <li><a href="/addNewWarehouse">Add Warehouses</a></li> 
            <li>About</li>
        </ul>
    </div> 
    <div class="ItemsList"> 
        <table>
            <tr>
                <th>Name</th> 
                <th>Descriptions</th> 
                <th>Quantity</th> 
                <th>Date</th> 
                <th>Warehouse</th> 
            </tr>    
            <% InventoryItemsList.forEach((item) => { %> 
                <tr>
                    <td><%= item['itemName'] %></td> 
                    <td><%= item['itemDescription']%></td> 
                    <td><%= item['quantity']%></td> 
                    <td><%= item['currentDate']%></td>   
                    <% if(item['warehouseAssigned'] !== 'Choose Warhouse') { %>  
                        <td><%= item['warehouseAssigned']%></td>
                    <% } else { %>  
                        <td>No Warehouse Assigned</td>
                    <% } %> 
                    <td class="NavTableArea"> 
                        <form method='GET' action="/getOneItem/<%= item['_id'] %>/delete"> 
                            <input class="Delete" type='submit' value='Delete'/>
                        </form>  

                        <form method='GET' action="/getOneItem/<%= item['_id'] %>/edit"> 
                            <input class="Edit" type='submit' value='Edit'/>
                        </form>

                        <form method='GET' action="/getOneItem/<%= item['_id'] %>/getOneItem"> 
                            <input class="ViewItem" type='submit' value='View Item'/>
                        </form>
                    </td>
                </tr>  
            <% }) %> 
        </table>
    </div>  
    <div class="message">
        <p><%= InventoryItemsList.length === 0 ? 'No items' : null %></p>
    </div>
</body> 
</html>